mixin list(items)
	ul.list
		each item in items
			li
				.top
					a(href=item.slug)= item.title
					|  
					span.by by #{item.author}
				.date. Published
					time(datetime=item.date.robot)= item.date.human