@import helpers

#content
	max-width 800px
	margin 25px auto 0
	padding 0 20px 56px
	.meta
		.metaTop ul
			margin-bottom 10px
			height 16px
			li
				float left
				padding-right 10px
				display block
				color $darkGrey
				font-weight 500
				h2.author, h2.pubdate
					&:before
						content "•"
						padding-right 10px
				&.facebook, &.twitter
					margin-top -3px
					float right
					width 124px
		.metaBottom
			h1
				display inline
				headerText true
				font-size $lgText
				color $darkOrange
			.metrics
				top 0
				float right
				width 88px
				padding-left 32px
				display inline
				li
					clear both
					color $darkGrey
					font-weight 500
					height 16px

					&.tempature
						margin-bottom 3px
					.flame, span
						float left
					.flame
						flameGlyph(15)
						padding-right 5px
	article
		padding-top 25px
		clear both
		line-height 1.6
		min-height 420px
		p
			margin-bottom 20px
			cite //Photo attribution kludge
				color $lightGrey
				font-size .89em
		img#articlePhoto
			float right
			width 400px
			border 3px solid $lightOrange
			// padding 10px
			margin 0 0 20px 20px
		ul, ol
			list-style-position inside
		ul
			li
				list-style-type disc
				ol,ul
					li
						margin-left 20px
					li
						list-style-type circle
		ol
			li
				list-style-type decimal
				ol,ul
					li
						margin-left 20px
		blockquote
			border-left 8px solid $lightOrange
			padding-left 17px
		#gallery
			max-width @max-width
			height 455px
			margin-bottom 20px
			borderBox()
			.galleryControl
				width: 50px
				font-size 30px
				background $lightOrange
				border none
				height @height
				display inline-block
				cursor pointer
				&#prevPhoto
					margin-right 10px
					float left
				&#nextPhoto
					margin-left 10px
					float right
			ul
				// float left
				// margin-left 60px
				display inline-block
				position relative
				max-width @max-width - 2*(50+10)
				borderBox()
				width 100%
				height @height
				border 3px solid $lightOrange
				background $lightOrange
				li
					list-style-type none
					display none
					position relative
					max-width @max-width - 2*3
					borderBox()
					&.selected
						display block
					img
						display block
						max-width @max-width
						max-height @height - 2*3
						borderBox()
						// border 3px solid $lightOrange
						margin 0 auto
		.videoEmebed
			padding-bottom 45px