@import helpers

#content
	max-width 800px
	margin 40px auto
	padding 0 20px
	.meta
		.metaTop ul
			margin-bottom 10px
			height 16px
			li
				float left
				padding-right 10px
				display block
				color $darkGrey
				font-weight 500
				h2.author, h2.pubdate
					&:before
						content "•"
						padding-right 10px
		.metaBottom
			h1
				display inline
				headerText true
				font-size $lgText
				color $darkOrange
			.metrics
				top 0
				float right
				width 88px
				padding-left 32px
				display inline
				li
					clear both
					color $darkGrey
					font-weight 500
					height 16px

					&.tempature
						margin-bottom 3px
					.flame, span
						float left
					.flame
						flameGlyph(15)
						padding-right 5px
	article
		padding-top 20px
		clear both
		line-height 1.6
		min-height 420px
		p
			margin-bottom 20px
		img
			float right
			width 400px
			border 2px solid $darkGrey
			// padding 10px
			margin 0 0 20px 20px