@import helpers

#content
	h2
		headerText(true)
		padding 20px 0 0 0
		color $darkOrange
		&.alert
			font-size 3.6em
		&.message
			font-size 2em
	#searchsuggestion
		padding 40px 0
		h3
			headerText(false)
			padding 20px 0
			color $darkOrange
			font-size 1.5em