$fontSans = Avenir,'Open Sans','Helvetica Neue',Helvetica,Arial,Verdana,sans-serif
$black = #233947
$lightOrange = #efbc8b
$darkOrange = #e97747
$bodyWidth = 1024px

borderRadius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-o-border-radius arguments
	border-radius arguments

hideText()
	text-indent: -9999px

headerText(isItalic)
	text-transform uppercase
	font-weight bold
	if isItalic
		font-style italic		