$fontSans = Avenir,'Open Sans','Helvetica Neue',Helvetica,Arial,Verdana,sans-serif

$black = #232323
$darkGrey = #838383
$lightOrange = #efbc8b
$darkOrange = #e97747

$bodyWidth = 1024px
$lgText = 28px

borderRadius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-o-border-radius arguments
	border-radius arguments

hideText()
	text-indent: -9999px

headerText(isItalic)
	text-transform uppercase
	font-weight bold
	if isItalic
		font-style italic

borderBox()
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	-ms-box-sizing border-box
	-o-box-sizing border-box
	box-sizing border-box