@import helpers

// h2.section
// 	headerText(true)
// 	font-size 2.2em
// 	padding 30px 0 0px 30px
// 	color $darkOrange


#rotator
	position relative
	max-width $bodyWidth
	width 100%
	margin 0 auto
	clear both
	height 400px
	overflow hidden
	@media screen and (max-width 899px)
		background $lightOrange
		padding 20px 0
		@media screen and (max-width 620px)
			padding 0
	.outside
		borderBox()
		max-width @max-width
		height 400px
	.img, .img img
		height @height
		borderBox()
	.img
		float left
		width 600px
		overflow hidden
		@media screen and (max-width 899px)
			float none
			margin 0 auto
		ul
			width 600px
			height 400px
			li
				display none
				&.selected
					display block
				div.title
					position absolute
					padding 15px 0
					width @width
					overflow-y hidden
					z-index 10
					h3
						text-align: center
						text-shadow: 0 0 20px #000
						headerText false
						font-size $lgText
						color #fff
						z-index 1
						padding 0 15px
					.background
						display block
						position absolute
						top 0
						left 0
						display block
						background #000
						opacity 0.4
						width 100%
						height 400px
						z-index -2
		a:link, a:visited, a:hover
			overflow hidden
			float left
			height @height
			width @width
			background $lightGrey
			color #fff
			font-size 18px
			font-style italic
			display block
			border-bottom none
			div
				float left
				&.body
					height @height
					borderBox()
					width 80%
					border-right 1px solid #fff
					p
						padding 13px 30px 0
						height 36px
						font-size 18px
						overflow hidden
				&.more
					width 20%
					borderBox()
					margin 0 auto
					span
						width 100%
						display block
						margin 20px 0
						headerText false
						font-size 20px
						text-align center
						font-style normal
	.recentPre
		margin-left 600px
		height 400px
		max-width $bodyWidth - 600
		min-width 300px
		borderBox()
		border-left 1px solid $lightOrange
		@media screen and (max-width 899px)
			display none
		h2
			color $darkOrange
			headerText(true)
			font-size 22px
			padding 15px 0
			text-align center
			max-width @max-width
			borderBox()
		li
			height ((@height - 52)/3)
			max-width @max-width - 1
			display block
			borderBox()
			border-top 1px solid $lightOrange
			&.selected, &:hover
				.content
					background darken($darkOrange, 20%)
			a
				height @height - @border-top
				display block
				max-width @max-width
				position relative
				border-bottom none
				div
					height @height
					top 0
					borderBox()
					&.content
						background $darkOrange
						color #fff
						padding 13px
						overflow hidden
						h3
							font-weight bold
							font-style italic
							font-size 17px
							height 18px
							margin-bottom 6px
							ofEllipsis()
						article p
							line-height 1.45
							height @height - @padding*2 - 17 - 5 /*17 = @font-size*/
							overflow hidden
							//There'll be a bug if there's three stoies with not enough content
#recent
	clear both
	h2
		color $darkOrange
		headerText(true)
		font-size 22px
		padding 45px 0 15px 30px
	ul li
		margin-bottom 30px
		a:link, a:visited
			display block
			color #fff
			border-bottom none
			.top
				background $darkOrange
				padding-left 30px
				height 150px
				overflow-y hidden
				&.draft
					background $lightGrey
				&.queued
					background $lightOrange
					color $veryDarkGrey
				.sixty
					float left
					width 60%
					margin-top 15px
					margin-bottom 10px
					overflow hidden
					h3
						font-weight bold
						font-style italic
						font-size 17px
						margin-bottom 5px
						overflow hidden
					article p
						line-height 1.5
						height 100px
						overflow hidden

				.preview
					float right
					width 38%
					max-height @height
					overflow hidden
					img
						max-height @height
						float right
			.bottom
				background #fff
				color $black
				font-style italic
				height 30px
				clear both
				.floatfix
					float right
					div
						float left
						&.info
							margin-top 10px
						&.more
							margin-left 20px
							color #fff
							background $darkOrange
							text-transform uppercase
							padding 10px
							&.draft
								background $lightGrey
							&.queued
								background $lightOrange
								color $veryDarkGrey
		a:hover
			.top
				background darken($darkOrange, 20%)
				&.draft
					background darken($lightGrey, 20%)
				&.queued
					background darken($lightOrange, 20%)
			.bottom .floatfix div.more
				background darken($darkOrange, 20%)
				&.draft
					background darken($lightGrey, 20%)
				&.queued
					background darken($lightOrange, 20%)