@import helpers

#content
	font-size 1.3em
	h2
		margin-top 20px
		font-size 1.8em
		headerText(false)
		color $darkOrange
	>ul
		margin-top 25px
		>li
			margin-bottom 20px
			ul li
				margin-top 10px
				margin-left 30px