@import helpers

strong
	font-weight 700
em
	font-style italic

html, body
	height 100%

body
	background #fff
	font-family $fontSans
	color $black

a
	&:link, &:visited
		color invert($darkOrange)
		text-decoration none
	&:hover
		border-bottom 1px dashed invert($darkOrange)
	&:active
		color invert($lightOrange)
		border-bottom 1px dashed invert($lightOrange)

#wrapper
	position relative
	max-width $bodyWidth
	margin 0 auto
	min-height 100%

#header
	background $lightOrange
	height 168px
	padding 10px 0
	position relative
	h1 a
		display block
		hideText()
		background-image url('/images/logo.png')
		background-size 465px 139px
		background-repeat no-repeat
		background-position center center
		height @height - 5
		border-bottom none
		text-decoration none
		retina('/images/logo_2x.png')
	aside
		position absolute
		top 0
		right 0
		z-index 10
		@media screen and (max-width $readOnlineWidth)
			position relative
			margin-top -32px
		a
			&:link, &:visited, &:hover, &:active
				display block
				position relative
				width 180px
				height @width
				border-bottom none
				text-align right
				border-bottom none
				color #fff
				font-size 20px
				headerText false
				@media screen and (max-width $readOnlineWidth)
					width auto
					height 28px
					text-align center
				div.triangle
					border-width 0 @width @width 0
					border-style solid
					border-color transparent $darkOrange transparent transparent
					line-height 0px
					position absolute
					top 0
					right 0
					width 0
					height 0
					z-index -1
					@media screen and (max-width $readOnlineWidth)
						display none
				div.text
					position absolute
					right 6px
					top 6px
					z-index 100
					display block
					width 105px
					@media screen and (max-width $readOnlineWidth)
						position relative
						right 0
						top 0
						width 370px
						background $darkOrange
						padding 5px 0 3px
						line-height 1.1
						margin 0 auto
			&:hover
				div.triangle
					border-right-color darken($darkOrange, 20%)
				@media screen and (max-width $readOnlineWidth)
					div.text
						background darken($darkOrange, 20%)						

nav
	background $darkOrange
	color #fff
	text-transform uppercase
	font-weight bold
	height 44px
	line-height 1
	overflow hidden
	position relative
	ul
		margin 0 30px
		display block
		width 100%
		height @height
		overflow hidden
		borderBox()
		li
			float left
			font-size 1.6em
			// margin-right 36px
			height @height
			display block
			overflow hidden
			borderBox()
			&.section a
				display block
				borderBox()
				padding 10px 16px
				height @height
				&:link, &:visited, &:hover, &:active
					color #fff
					border none
				&:hover
					background darken(@background, 20%)
					// color $darkOrange
			&#search
				width 44px
				height 44px
				overflow hidden
				#searchwrapper
					width 440px
					height @height
					div
						float left
						height @height
						a
							display block
							width 44px
							height @height
							#searchicon
								display block
								width 28px
								height @width
								margin 8px
								hideText()
								background-image url('/images/search.png')
								background-size @width @height
								background-repeat no-repeat
								background-position center center
						form
							overflow hidden
							width 296px
							display block
							height @height
							input
								font-family $fontSans
								float left
								height 30px
								borderBox()
								outline 0
								outline-style none
								background darken(@background, 20%)
								border 1px solid darken(@background, 30%)
								font-size 20px
								margin 7px 0
								color #fff
								&#searchbox
									width 250px
									padding 4px
									&:focus, &:focus + #searchsubmit
										border-color #fff
								&#searchsubmit
									border-left none
									width 46px
									text-transform uppercase
									-webkit-appearance none
									-moz-appearance none
							placeholder(darken(@background, 40%))
	#gradient
		/*background-color: #e97747;*/
		background-image: -webkit-gradient(linear, left center, right center, from(rgba(red($darkOrange), green($darkOrange), blue($darkOrange), 0.00)), to(rgba(red($darkOrange), green($darkOrange), blue($darkOrange), 1.00)));
		background-image: -webkit-linear-gradient(left, rgba(red($darkOrange), green($darkOrange), blue($darkOrange), 0.00), rgba(red($darkOrange), green($darkOrange), blue($darkOrange), 1.00));
		background-image: -moz-linear-gradient(left, rgba(red($darkOrange), green($darkOrange), blue($darkOrange), 0.00), rgba(red($darkOrange), green($darkOrange), blue($darkOrange), 1.00));
		background-image: -o-linear-gradient(left, rgba(red($darkOrange), green($darkOrange), blue($darkOrange), 0.00), rgba(red($darkOrange), green($darkOrange), blue($darkOrange), 1.00));
		background-image: -ms-linear-gradient(left, rgba(red($darkOrange), green($darkOrange), blue($darkOrange), 0.00), rgba(red($darkOrange), green($darkOrange), blue($darkOrange), 1.00));
		background-image: linear-gradient(left, rgba(red($darkOrange), green($darkOrange), blue($darkOrange), 0.00), rgba(red($darkOrange), green($darkOrange), blue($darkOrange), 1.00));
		width 30px
		height @height
		position absolute
		right 0
		top 0
@css {
	nav #gradient {
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#e97747', EndColorStr='#e97747');
	}
}

#content
	padding-bottom 56px

#footer
	position absolute
	bottom 0
	width 100%
	height 56px
	background $lightOrange
	padding 20px 0
	text-align center
	borderBox()
