@import helpers

strong
	font-weight 700
em
	font-style italic

body
	background #fff
	font-family $fontSans
	color $black

a
	&:link, &:visited
		color invert($darkOrange)
		text-decoration none
	&:hover
		border-bottom 1px dashed invert($darkOrange)
	&:active
		color invert($lightOrange)
		border-bottom 1px dashed invert($lightOrange)

#wrapper
	position relative
	max-width $bodyWidth
	margin 0 auto

#header
	background: $lightOrange
	height 181px
	padding 10px 0
	h1 a
		display block
		hideText()
		background-image url('/images/logo.png')
		background-repeat no-repeat
		background-position center center
		height @height - 22
		border-bottom none
		text-decoration none

	ul
		margin-top -15px
		li
			display block
			margin 0 auto
			width 155px
			a
				headerText(false)
				color #fff
				font-size 22px
				border-bottom none
				text-decoration none
			
nav
	background $darkOrange
	color #fff
	text-transform uppercase
	font-weight bold
	padding 6px 0
	height 31px
	line-height 1
	overflow hidden
	ul
		margin 0 30px
		display block
		width 100%
		height @height
		overflow hidden
		li
			float left
			font-size 1.6em
			margin-right 36px
			height 23px
			padding 4px
			display block
			overflow hidden
			a
				&:link, &:visited, &:hover, &:active
					color #fff
					border none
				&:hover
					background #fff
					color $darkOrange


#footer 
	background $lightOrange
	padding 20px 0
	text-align center
