#content {
  max-width: 800px;
  margin: 25px auto;
  padding: 0 20px;
}
#content .meta .metaTop ul {
  margin-bottom: 10px;
  height: 16px;
}
#content .meta .metaTop ul li {
  float: left;
  padding-right: 10px;
  display: block;
  color: #838383;
  font-weight: 500;
}
#content .meta .metaTop ul li h2.author:before,
#content .meta .metaTop ul li h2.pubdate:before {
  content: "•";
  padding-right: 10px;
}
#content .meta .metaBottom h1 {
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-size: 28px;
  color: #e97747;
}
#content .meta .metaBottom .metrics {
  top: 0;
  float: right;
  width: 88px;
  padding-left: 32px;
  display: inline;
}
#content .meta .metaBottom .metrics li {
  clear: both;
  color: #838383;
  font-weight: 500;
  height: 16px;
}
#content .meta .metaBottom .metrics li.tempature {
  margin-bottom: 3px;
}
#content .meta .metaBottom .metrics li .flame,
#content .meta .metaBottom .metrics li span {
  float: left;
}
#content .meta .metaBottom .metrics li .flame {
  background-size: 10.3125px 15px;
  background-repeat: no-repeat;
  background-image: url("/images/heat.png");
  height: 15px;
  width: 10.3125px;
  display: block;
  padding-right: 5px;
}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {
}
#content article {
  padding-top: 25px;
  clear: both;
  line-height: 1.6;
  min-height: 420px;
}
#content article p {
  margin-bottom: 20px;
}
#content article p cite {
  color: #7f7f7f;
  font-size: 0.89em;
}
#content article img {
  float: right;
  width: 400px;
  border: 3px solid #efbc8b;
  margin: 0 0 20px 20px;
}
