#content {
  max-width: 800px;
  margin: 25px auto 0;
  padding: 0 20px 56px;
}
#content .meta .metaTop ul {
  margin-bottom: 10px;
  height: 16px;
}
#content .meta .metaTop ul li {
  float: left;
  padding-right: 10px;
  display: block;
  color: #838383;
  font-weight: 500;
}
#content .meta .metaTop ul li h2.author:before,
#content .meta .metaTop ul li h2.pubdate:before {
  content: "•";
  padding-right: 10px;
}
#content .meta .metaTop ul li.facebook,
#content .meta .metaTop ul li.twitter {
  margin-top: -3px;
  float: right;
}
#content .meta .metaTop ul li.facebook {
  width: 124px;
}
#content .meta .metaTop ul li.twitter {
  width: 81px;
}
#content .meta .metaBottom h1 {
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-size: 28px;
  color: #11334d;
}
#content .meta .metaBottom .metrics {
  top: 0;
  float: right;
  width: 88px;
  padding-left: 32px;
  display: inline;
}
#content .meta .metaBottom .metrics li {
  clear: both;
  color: #838383;
  font-weight: 500;
  height: 16px;
}
#content .meta .metaBottom .metrics li.tempature {
  margin-bottom: 3px;
}
#content .meta .metaBottom .metrics li .flame,
#content .meta .metaBottom .metrics li span {
  float: left;
}
#content .meta .metaBottom .metrics li .flame {
  background-size: 10.3125px 15px;
  background-repeat: no-repeat;
  background-image: url("/images/heat.png");
  height: 15px;
  width: 10.3125px;
  display: block;
  padding-right: 5px;
}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {
}
#content article {
  padding-top: 25px;
  clear: both;
  line-height: 1.6;
  min-height: 420px;
}
#content article p {
  margin-bottom: 20px;
}
#content article p cite {
  color: #7f7f7f;
  font-size: 0.89em;
}
#content article img#articlePhoto {
  float: right;
  width: 400px;
  border: 3px solid #1f5b8a;
  margin: 0 0 20px 20px;
}
#content article ul,
#content article ol {
  list-style-position: inside;
}
#content article ul li {
  list-style-type: disc;
}
#content article ul li ol li,
#content article ul li ul li {
  margin-left: 20px;
}
#content article ul li ol li,
#content article ul li ul li {
  list-style-type: circle;
}
#content article ol li {
  list-style-type: decimal;
}
#content article ol li ol li,
#content article ol li ul li {
  margin-left: 20px;
}
#content article blockquote {
  border-left: 8px solid #1f5b8a;
  padding-left: 17px;
}
#content article #gallery {
  max-width: 800px;
  height: 455px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
#content article #gallery .galleryControl {
  width: 50px;
  font-size: 30px;
  background: #1f5b8a;
  border: none;
  height: 455px;
  display: inline-block;
  cursor: pointer;
}
#content article #gallery .galleryControl#prevPhoto {
  margin-right: 10px;
  float: left;
}
#content article #gallery .galleryControl#nextPhoto {
  margin-left: 10px;
  float: right;
}
#content article #gallery ul {
  display: inline-block;
  position: relative;
  max-width: 680px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 455px;
  border: 3px solid #1f5b8a;
  background: #1f5b8a;
}
#content article #gallery ul li {
  list-style-type: none;
  display: none;
  position: relative;
  max-width: 674px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
#content article #gallery ul li.selected {
  display: block;
}
#content article #gallery ul li img {
  display: block;
  max-width: 674px;
  max-height: 449px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
#content article .videoEmebed {
  padding-bottom: 45px;
}
