h2.section{text-transform:uppercase;font-weight:bold;font-style:italic;font-size:2.2em;padding:30px 0 60px 30px;color:#11334d}
#sectionArticles ul li{margin-bottom:30px;}
#sectionArticles ul li a:link,#sectionArticles ul li a:visited{display:block;color:#fff;border-bottom:none;}
#sectionArticles ul li a:link .top,#sectionArticles ul li a:visited .top{background:#11334d;padding-left:30px;height:150px;overflow-y:hidden;}
#sectionArticles ul li a:link .top.draft,#sectionArticles ul li a:visited .top.draft{background:#7f7f7f}
#sectionArticles ul li a:link .top.queued,#sectionArticles ul li a:visited .top.queued{background:#1f5b8a}
#sectionArticles ul li a:link .top .sixty,#sectionArticles ul li a:visited .top .sixty{float:left;width:60%;margin-top:15px;margin-bottom:10px;overflow:hidden;}
#sectionArticles ul li a:link .top .sixty h3,#sectionArticles ul li a:visited .top .sixty h3{font-weight:bold;font-style:italic;font-size:17px;margin-bottom:5px;overflow:hidden}
#sectionArticles ul li a:link .top .sixty article p,#sectionArticles ul li a:visited .top .sixty article p{line-height:1.5;height:100px;overflow:hidden}
#sectionArticles ul li a:link .top .preview,#sectionArticles ul li a:visited .top .preview{float:right;width:38%;max-height:150px;overflow:hidden;}
#sectionArticles ul li a:link .top .preview img,#sectionArticles ul li a:visited .top .preview img{max-height:150px;float:right}
#sectionArticles ul li a:link .bottom,#sectionArticles ul li a:visited .bottom{background:#fff;color:#232323;font-style:italic;height:30px;clear:both;}
#sectionArticles ul li a:link .bottom .floatfix,#sectionArticles ul li a:visited .bottom .floatfix{float:right;}
#sectionArticles ul li a:link .bottom .floatfix div,#sectionArticles ul li a:visited .bottom .floatfix div{float:left;}
#sectionArticles ul li a:link .bottom .floatfix div.info,#sectionArticles ul li a:visited .bottom .floatfix div.info{margin-top:10px}
#sectionArticles ul li a:link .bottom .floatfix div.more,#sectionArticles ul li a:visited .bottom .floatfix div.more{margin-left:20px;color:#fff;background:#11334d;text-transform:uppercase;padding:10px;}
#sectionArticles ul li a:link .bottom .floatfix div.more.draft,#sectionArticles ul li a:visited .bottom .floatfix div.more.draft{background:#7f7f7f}
#sectionArticles ul li a:link .bottom .floatfix div.more.queued,#sectionArticles ul li a:visited .bottom .floatfix div.more.queued{background:#1f5b8a}
#sectionArticles ul li a:hover .top{background:#0e293e;}
#sectionArticles ul li a:hover .top.draft{background:#666}
#sectionArticles ul li a:hover .top.queued{background:#19496e}
#sectionArticles ul li a:hover .bottom .floatfix div.more{background:#0e293e;}
#sectionArticles ul li a:hover .bottom .floatfix div.more.draft{background:#666}
#sectionArticles ul li a:hover .bottom .floatfix div.more.queued{background:#19496e}
