#content {
  font-size: 1.3em;
}
#content h2 {
  margin-top: 20px;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  color: #e97747;
}
#content >ul {
  margin-top: 25px;
}
#content >ul >li {
  margin-bottom: 20px;
}
#content >ul >li ul li {
  margin-top: 10px;
  margin-left: 30px;
}
