strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
body {
  background: #fff;
  font-family: Avenir, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  color: #232323;
}
a:link,
a:visited {
  color: #1688b8;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px dashed #1688b8;
}
a:active {
  color: #104374;
  border-bottom: 1px dashed #104374;
}
#wrapper {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
}
#header {
  background: #efbc8b;
  height: 181px;
  padding: 10px 0;
}
#header h1 a {
  display: block;
  text-indent: -9999px;
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 159px;
  border-bottom: none;
  text-decoration: none;
}
#header ul {
  margin-top: -15px;
}
#header ul li {
  display: block;
  margin: 0 auto;
  width: 155px;
}
#header ul li a {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 22px;
  border-bottom: none;
  text-decoration: none;
}
.bar {
  background: #e97747;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  padding: 15px 0;
}
#footer {
  background: #efbc8b;
  padding: 20px 0;
  text-align: center;
}
