extends wrapper

block content
	#rotator
		mixin rotator(items)
	#lists
		//- c stands for column. Columns are labeled c[number] and stuff regating columns start with c_ (e.g. c_small, c_large)
		.c1
			.c_title
				h2 Recent
				span
					//- not final yet
					a.rss(href='/rss') Subscribe
			mixin list(items.recent)
		.c2
			.c_title
				h2 Popular
			mixin list(items.popular)
		.c3.c_small
			.c_title
				h2 Briefs
			mixin list(items.briefs)