mixin list(items)
	ul.list
		each item in items
			li
				.top
					a(href='/articles/#{item.link}')= item.title
					span.by by #{item.author}
				.date. Published
					time(datetime=item.date.robot) #{item.date.human}


//-
	# Example CoffeeScript-esque list structure

	{
		items: [
			{
				author:
					"Joe"
				link:
					"slug"
				title:
					"Fairies"
				date: {
					robot:
						"2013-05-07T19:04.06"
					human:
						"May 7, 2013"
				}
			},
			etc

		]
	}