extends ../wrapper

block css
	+style([['search',1],['error',1]])

block content
	h2.alert 404
	h2.message= (_err ? _err : 'Page not found')
	div#searchsuggestion
		h3= 'Maybe try a' + (_err == "No articles matched that search" ? 'nother' : '') + ' search?'
		form#form(method="get", action='/search', enctype="multipart/form-data")
			input#searchpagebox(type="text", placeholder="Search…", name="q")

			input#searchpagesubmit(type="submit", value="Go")