extends wrapper

block css
	link(rel='stylesheet', href='/css/jquery-ui/theme.css')
	style.
		form input, form select, form textarea, form button { display: block; width: 40%; padding: 10px; margin: 10px; clear: both}
block js_head
	+js([['jquery-ui',1]])
	-if (!lockHTML)
		script.
			$(document).ready(function() {
				$('#date').datepicker({
					dateFormat: 'mm-dd-yy'
				});
			});

block content
	h2 #{editing ? "Edit" : 'New'} Section
	form#form(method="post", action='#', enctype="multipart/form-data")

		input#title(type="text", placeholder="Section title", name="title", value=title)
			
		button#submit(type="submit") Submit