extends ../wrapper

block css
	+style([['staff',1]])

block content
	h2 Staff Panel
	ul
		li
			a(href="/staff/articles/") Articles
			ul
				li
					a(href="/staff/articles/new") New Article
		li
			a(href="/staff/users/") Users
			ul
				li
					a(href="/staff/users/new") New User
		li
			a(href="/staff/issues/") Issues
			ul
				li
					a(href="/staff/issues/new") New Issue
		li
			a(href="/staff/sections/") Sections
			ul
				li
					a(href="/staff/sections/new") New Section
		//- li
		//- 	a(href="/staff/planners/") Planners
	ul
		li
			a(href="/logout") Log out