input#title(type="text", placeholder="A witty title", name="title", value=title)
select#issue(name="issue")
	option(value="on333e") One
	option(value="tw333o") Two
select#section(name="section")
	option(value="sl") Student Life
	option(value="sc") Science
input#date(type="date", name="date", value=date)
textarea#article(name="article")=article
input#author(type="text", placeholder="Author’s Name", name="author", value=author)
button#submit(type="submit") Submit

block head
	style.
		form * { display: block; width: 40%; padding: 10px; margin: 10px}
	script(src="//tinymce.cachefly.net/4.0/tinymce.min.js")
	script.
		tinymce.init({selector:'textarea#article'});