extends wrapper
include mixins/style
include mixins/js
include mixins/list
include mixins/rotator


block head
	+style([['index','1']])
	include includes/jquery
	+js([['rotator','1']])
block content
	if section
		h2.section= section
	if !isStaffView && !section
		#rotator
			+rotator(recentAr)
	#lists
		#recent
			h2= (!isStaffView ? "Recent" : "All") + " Stories"
				//-
					a.rss(href='/rss') Subscribe
			+list(recentAr)
		//- .c2
		//- 	.c_title
		//- 		h2 Popular
		//- 	+list(rotatorAr)
		//- .c3.c_small
		//- 	.c_title
		//- 		h2 Briefs
		//- 	mixin list(items.briefs)