extends wrapper
include mixins/list
include mixins/rotator


block css
	+style([['index',1]])

block j2_head
	+js([['rotator',1]])

block content
	#rotator
		+rotator(recentAr)
	#lists
		#recent
			h2 Recent Stories
				//-
					a.rss(href='/rss') Subscribe
			+list(recentAr)
		//- .c2
		//- 	.c_title
		//- 		h2 Popular
		//- 	+list(rotatorAr)
		//- .c3.c_small
		//- 	.c_title
		//- 		h2 Briefs
		//- 	mixin list(items.briefs)