extends wrapper

block content
	include mixins/list
	#rotator
		//- mixin rotator(items)
	#lists
		//- c stands for column. Columns are labeled c[number] and stuff regating columns start with c_ (e.g. c_small, c_large)
		.c1
			.c_title
				h2 Recent
				span
					//- not final yet
					a.rss(href='/rss') Subscribe
			+list(recentAr)
		.c2
			.c_title
				h2 Popular
			+list(rotatorAr)
		//- .c3.c_small
		//- 	.c_title
		//- 		h2 Briefs
		//- 	mixin list(items.briefs)