extends wrapper

block content
	ul
		li
			a(href="/staff/issues/") Issues
		li
			a(href="/staff/sections/") Sections
		li
			a(href="/staff/planners/") Planners
		li
			a(href="/staff/articles/") Articles
		li
			a(href="/staff/users/") Users