extends wrapper

block content
	ul
		each user in users
			li
				div
					a(href="/users/#{user.slug}")
						i.indicator(class=isStaff ? 'isStaff' : 'isAdmin')
						h2.name= user.name
						h3.username (#{user.username})