include mixins/style
include mixins/js
doctype html
html
	head
		title= (title ? title+ ' | ' : '') + 'Pine View Torch'
		//- Re-add after mobile responsive
			meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		//- Fullscreen iOS stuff
			meta(name="apple-mobile-web-app-capable", content="yes")
			meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
		+style([['reset',1],['wrapper',4]])
		<!--[if lt IE 11]>
		<link href='/css/IE_should_die_in_a_fire.css?version=2' rel='stylesheet' type='text/css'>
		<![endif]-->
		block css
		noscript
			style.
				nav ul li#search #searchwrapper:hover {
					background-color: #D9531B;
				}
		include includes/jquery
		+js([['animate',1],['searchbar',1]])
		block js_head
		link(rel="shortcut icon",href="/images/favicon.ico?version=2")
		<!--[if IE]>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
		<![endif]-->
		

		//Reading this? You'd probably make a great Torch webmaster!

		//Does that sounds fun? Of course it does! You get to program for school, that has to be fun. Just shoot an email over to webmaster@pineviewtorch.com and we can chat it up.

	body
		#wrapper
			header#header
				h1
					a(href="/") The Torch
				aside
					a(href="/issues/current")
						div.text
							h3 Click to Read the Print Edition
						div.triangle
			nav#nav
				ul
					li#search
						div#searchwrapper
							div
								a(href="/search")
									div#searchicon
							div
								form#form(method="get", action='/search', enctype="multipart/form-data")
									input#searchbox(type="text", name="q", placeholder='Search…', value=searchquery)
									input#searchsubmit(type='submit', value="Go")
					li.section
						a(href='/sections/news') News
					li.section
						a(href='/sections/science-and-technology') Sci & Tech
					li.section
						a(href='/sections/entertainment') Entertainment
					li.section
						a(href='/sections/sports') Sports
					li.section
						a(href='/sections/humor') Humor
					li.section
						a(href='/sections/focus') Focus
				#gradient
			#content
				block content
			footer#footer
				#copyright
					p All content, unless otherwise noted, is the property of the Pine View Torch &copy; 
						= new Date().getFullYear()

