include mixins/style
!!!5
html
	head
		title= (title ? title+ ' | ' : '') + 'Pine View Torch'
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		//- Re-add after mobile responsive
			meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		//- Fullscreen iOS stuff
			meta(name="apple-mobile-web-app-capable", content="yes")
			meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
		+style(['reset','wrapper'])
		block head
		<!--[if IE]>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
		<![endif]-->

		//Reading this? You'd probably make a great Torch webmaster!

		//Does that sounds fun? Of course it does! You get to program for school, that has to be fun. Just shoot an email over to webmaster@pineviewtorch.com and we can chat it up.

	body
		#wrapper
			header#header
				h1
					a(href="/") The Torch
				ul
					li
						a(href="/issues/current") Read Online
				//-
					ul
						li
							form
								input(type="text", placeholder='Search…')
								input(type='submit') Go
						li
							a(href='/issues/') Read the print edition online
					-if(sections)
						nav#nav
							ul
								each section in sections
									li
										a(href='/#{section}') section
			.bar
				h2 Please pardon our dust as we remodel
			#content
				-if(_err)
					each error in _err
						h2.error= error
				block content
			footer#footer
				//-
					#login
						ul
							- if (logged.user)
								- if (logged.staff)
									li
										a(href='/staff/') Staff Panel
								li
									a(href='/settings/') Settings
								li
									a(href='/logout/') Log out
							- else
								li
									a(href='/login/') Log in
				#copyright
					p All content, unless otherwise noted, is the property of the Pine View Torch &copy; 
						= new Date().getFullYear()

