extends wrapper

block head
	

block content
	ul
		each article in articles
			li
				div
					h2.title
						a(href=article.slug)= article.title
					p!= article.body
					h4.author by #{article.author}
					time(datetime=article.exactDate)= article.date