!!!5
html
	head
		title= (title ? title+ ' | ' : '') + 'Pine View Torch'
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")

		style.
			body { font-family: 'Helvetica Neue';font-weight: 300;}
			.error {background: #fec9ca; padding: 5px; border: 1px solid #fdacae;}
		block head
	body
		header
			h1
				a(href='/') Pine View Torch
			ul
				li
					a(href='/new') Write a New Article
			hr
		-if (err)
			each error in err
				h2.error= error
		block content